@{
    ViewBag.Title = "Contact";
}
<div class="col-md-12">
    <h2 class="page-header">@ViewBag.Title Us</h2>
</div>
<div class="col-md-12">
    <address>
        <p>Team House Stark</p>
        <p>GitHub: <a href="https://github.com/TeamHouseStark">https://github.com/TeamHouseStark</a></p>
        <p>Email: <a href="mailto:admin@teamStark.somee.com">admin@teamStark.somee.com</a></p>
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:support@teamStark.somee.com">support@teamStark.somee.com</a><br />
    </address>
</div>