@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 class="page-header">Welcome to House Stark`s Blog</h1>
</div>
<div id="posts" class="col-md-12"></div>
<script>
    var url = app.service.url + '/Posts';
    app.ajaxRequester.get(url).then(function (data) {
        app.renderer.renderPosts(data, '#posts');
    }, function(err) {
        console.error(err);
    });
</script>